<%- include('includes/head.ejs'); %>


  <div class="headerTopics">

      <h1>Topic 1</h1>
      <p>Comments left: <%=length %></p>


    <div class="showInstructions">
      Instructions
    </div>
  </div>

  <div class="instructionsPopup hidden">
    <%- include('includes/instructions-popup.ejs'); %>
  </div>


  
    <% if (length >= 1) { %>

      <form class="wrapper" action="/abc" method="POST" id="annotate_form_<%= comments.id %>">
        <div>
          <!-- annotator  -->
          <div class="annotater">
            <input type="hidden" id="annotaterID" name="annotaterID" value="abc" required>
          </div>
          
          <%- include('includes/annotate-comment.ejs'); %>
           
        </div>

        <button
        form="annotate_form_<%= comments.id %>"
        type="submit"
        class="submitBtn"
      >
        next comment
      </button>

      </form>


      <%} else { %>
        <h2>You're done!</h2>
        <p> No comments left to annotate</p>
        <% } %>

        <script src="js/consent.js"></script>
        <script src="js/detailpage.js"></script>
  </body>
</html>
